/* SponsorCarousel.css */
.sponsor-carousel {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.sponsor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.slick-next{
    display: none !important;
}
.sponsor-img {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 100px;
    object-fit: contain;
    align-items: center;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}

.sponsor-img:hover {
    filter: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .sponsor {
        padding: 20px;
        display: block !important;
    }
}
