 
.footer {
  background-color: #58bff2;
  color: black;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.footer-container, .footer-bottom-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column, .footer-bottom-column {
  margin: 10px 0;
}

.footer-column-large {
  flex: 2;
  padding: 10px;
}

.footer-column-small {
  flex: 1;
  padding: 10px;
}

.footer-bottom-column-large {
  flex: 2;
}

.footer-bottom-column-small {
  flex: 1;
}

h3 {
  margin-bottom: 15px;
  font-size: 18px;
}

.text-justify {
  text-align: justify;
  margin-bottom: 15px;
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: black;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

hr {
  border: 0;
  border-top: 1px solid #444;
  margin: 20px 0;
}

.copyright-text {
  margin: 0;
}

.social-icons {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.social-icons li {
  display: inline;
}

.social-icon {
  height: 30px !important;
  width: 30px !important;
  color: #fff;
  text-decoration: none;
}

.social-icons a:hover {
  color: #26ACE5;
}

.fa {
  font-size: 16px;
}

@media (max-width: 768px) {
  .footer-column-large, .footer-column-small, .footer-bottom-column-large, .footer-bottom-column-small {
      flex: 1 1 100%;
      text-align: center;
  }

  .footer-links {
      text-align: center;
  }

  .social-icons {
      justify-content: center;
  }
}
