.left {
  flex: 1.5;
  width: 75%;
}
.right {
  flex: 1;
  flex-basis: 25%;
}
.right img {
  width: 100%;
  height: auto;
  padding-left: 1rem;
}
.left h1 {
  font-size: 2.5rem;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  text-align: left;
  margin-bottom: 1rem;
}
.para {
  margin-top: 3rem;
  display: block;
  font-size: 1.3rem;
  text-align: justify;
  line-height: 1.28em;
  color: #222222;
  font-weight: 400;
}
.typing {
  font-size: Sem;
  letter-spacing: 16px;
  font-family: monospace;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 10s steps(18) infinite,
    cursor 0.4s step-end infinite alternate;
}
@keyframes typing {
  0% {
    width: 0;
  }
  25% {
    width: 100%;
  }
  75% {
    width: 100%;
  }
  90% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
.landing-page {
  box-sizing: border-box;
  margin-left: 8rem;
  margin-right: 0rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.text img {
  height: auto;
  width: 100%;
  display: block;
}

@media (max-width: 900px) {
  .landing-page {
    margin: 0rem 2.5rem;
  }
  .right {
    display: none;
  }
}

/* @media (max-width: 1224px) {
  .landing-page {
    margin: 0rem 8rem;
  }
  .right {
    display: none;
  }
} */
