@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
.landing-page {
    margin-top: 4rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#loading {
    display:flex;
    font-weight: 800;
    width: 100%;
}
#loading {
    position: relative;
    -webkit-animation-name: post-loading;
    -webkit-animation-duration: 1s;
    animation-name: post-loading;
    animation-duration: 1s;
}
@-webkit-keyframes post-loading {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
@keyframes post-loading{
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

body {
    background-color: white;
    font-weight: 800;
    max-width: 100%;
}
section{
    padding-bottom: 0 !important;
}
#main {
    margin-top: 60px;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    /* height: 90vh; */
}
h1{
    text-align: start !important;
    font-family: poppins;
}

#main #left {
    height: 80%;
    margin-left: 3%;
    max-width: 50%;
    /* font-family: 'Inter'; */

    
}
#main #right {
    margin-top: 0px;
    height: 100%;
    margin-left: 5%;
    padding: 0;
    justify-content: center;
    align-content: start;
    font-family: 'Manrope';
    margin-right: 0%;
    overflow: hidden;

}

#main #right i{
    padding-left: 2%;
    color:rgb(9, 10, 10);
    text-align: center;
}

.and {
    font-weight: 400;
}

.heading {
    font-size: 35px !important;
    font-weight: 600 !important;
}

p {
    font-weight: 500 !important;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-family: Arial, sans-serif !important;
    line-height: 1.5em;
    letter-spacing: 0.5px;
}



.landing-page img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: contain;
    /* z-index: -1; */
}

/* .text img {
    height: auto;
    width: 100%;
    display: block;

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }
} */

.span-container{
    display: inline-block;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0) rotate(45deg);
    }

    40% {
        transform: translateY(-15px) rotate(45deg);
    }

    60% {
        transform: translateY(-10px) rotate(45deg);
    }
}


@media (max-width: 768px) {
    .arrow {
        width: 20px;
        height: 20px;
        border-width: 3px;
        margin: 5px;
    }

    .arrows {
        bottom: 10px;
    }
    .heading h1{
        display: none;
    }
    #main p{
        font-weight: 100 !important;
        text-align: justify !important;
      }
      #main #right{
        max-width:0%;
        display:none;
      }
      #main{
        display: block;
        margin-left: 5%;
        margin-right: 5%;
        min-height: 100%;
        margin-bottom: 15% !important;
      }
      #main #left{
        max-width: 100% !important; 
        text-align: center;
      }
      #main #left h1{
        /* display: none; */
        font-size: 25px;
        font-weight: 400;
      }
      #main-content{
        display: block !important;
      }
      #content{
        text-align: center;
        margin-left: 5% !important;
        margin-right: 5% !important;
      }
}
