.landing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;  
}

.texts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-texts {
  margin: 0;  
}
